[submodule "LiteRT/vendor/LiteRT-LM"]
	path = LiteRT/vendor/LiteRT-LM
	url = https://github.com/google-ai-edge/LiteRT-LM.git
[submodule "LiteRT/vendor/LiteRT"]
	path = LiteRT/vendor/LiteRT
	url = https://github.com/google-ai-edge/LiteRT.git
[submodule "LiteRT/vendor/litert-torch"]
	path = LiteRT/vendor/litert-torch
	url = https://github.com/google-ai-edge/litert-torch.git
[submodule "Convert/NeuTTS/vendor/neutts"]
	path = Convert/NeuTTS/vendor/neutts
	url = https://github.com/neuphonic/neutts.git
[submodule "Convert/NeuCodec/vendor/neucodec"]
	path = Convert/NeuCodec/vendor/neucodec
	url = https://github.com/neuphonic/neucodec.git
